@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #f5f5f5;
  background-color: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
